*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content:center;
	align-items:center ;
	flex-direction: column;
	background: rgba($color: #000000, $alpha: 0.5);
}
.title{
	font-size: 30px;
}
.ranger{
	margin: 30px;
	border-radius: 10px;
	width: 60%;
	height: 50px;

	.ranger-bar{
		overflow: hidden;
		max-width: 100%;
		width: 50%;
		height: 100%;
		border-radius: 10px;
		span{
			display: flex;
			color: #ffffff;
			font-size: 23px ;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;

		}

	background-image: linear-gradient(to right, #4120e6,#8f10e3,#ba09d9);
	}
}


